### regular ignorance
*.pyc
*.DS_Store
__pycache__/

### raw data not included
/data/colored_mnist/*
/data/mimic_icu/*
/data/multinli/*
!/data/multinli/metadata_preset.csv
!/data/multinli/metadata_random.csv
/lib/bert_base_uncased/

### results not included
*.pt
